langchain
langchain-openai
langsmith # used for tracking of agents on langraph cloud
langchain-community
langchain-groq
langchain-text-splitters
faiss-cpu
pypdf
tiktoken
python-dotenv
langchain-google-genai
langchain-openrouter
ipykernel
langchain_tavily
langchain-mcp-adapters
mcp
langsmith
langchain-huggingface
sentence-transformers
beautifulsoup4
pandas
litellm
langchain-litellm
fastapi
uvicorn
black
isort
flake8
ruff
